.DS_Store
*.js
.runs/
node_modules/
dist/
runtime/promptjava/target/
runtime/promptycs/Prompty.Core/bin/
runtime/promptycs/Prompty.Core/obj/
runtime/promptycs/Tests/bin/
runtime/promptycs/Tests/obj/
.env
